body {
  background-color: #222A31;
}

main {
  margin: 20px 0;
}

.date {
  text-align: center;
  margin-bottom: 30px;
}

.container-grid {
  padding: 20px;
}

.container-grid:nth-child(even) {
  background-color: #1a1c20;
}

.container-grid h2 {
  margin-top: 0;
}

.show-grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  grid-gap: 20px;
  }

.show-container {
  text-align: center;
}

.show-info {
  /* box-shadow: 0 0 10px 4px rgb(28, 28, 28); */
}

.show-title {
  margin-top: 10px;
}

.show-info img {
  width: 100%;
  box-shadow: 0 0 10px 4px rgb(28, 28, 28);
  /* object-fit: cover; */
  /* border:1px solid black; */
}

.show-desc {
  padding: 5px;
  min-height: 100px;
}

.airtime {
  padding: 20px 0;
}

.show-network {
  padding-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}