header {
  position: fixed;
  background-color: #1A1C20;
  height: 100vh;
  width: 250px;
  transition: margin-left .5s;
  /* box-shadow: 0 0 8px 0 rgb(28, 28, 28); */
  padding: 10px 0;
  z-index: 100;
}

nav button {
  padding: 20px;
  margin-bottom: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  outline: none;
  font-weight: bold;
}

.active {
  background: #222A31;
  box-shadow: -20px 0 11px 2px #151515;
  color: #F83646;
}

.title {
  margin: 20px 0 40px;
  text-align: center;
}

form {
  margin: 20px;
}

fieldset label {
  cursor: pointer;
}

form select, form fieldset {
  margin-bottom: 20px;
}

.nav-container {
  transition: width .3s;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.toggle-open {
  margin-left: 0;
}

.toggle-open .nav-container {
  width: 100%;
}

@media (max-width: 600px) {
  header {
    margin-left: -200px;
  }
 
  .menu-toggle {
    display: block;
    text-align: right;
  }

  .nav-container {
    width: 200px;
  }

}

input[type=radio] {
  display:none; 
  margin:10px;
}

input[type=radio] + label {
  display:inline-block;
  margin: 5px 0;
  padding: 5px 10px;
  background-color: red;
  border-color: #ddd;
  border-radius: 5px;
}

input[type=radio]:checked + label { 
  background-image: none;
  background-color:blue;
}