@import url('normalize.css');
@import url('./reset.css');
@import url('./typography.css');

.container {
  padding: 20px 0;
}

.container:nth-child(even) {
  background-color: #282a43;
}

.container h2 {
  margin-top: 0;
}

.show-grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  grid-gap: 20px;
  /* align-items: stretch; */
  /* background: white; */
  /* padding: 2rem; */
  }

.show-container {
  text-align: center;
}

.show-info {
  box-shadow: 0 0 10px 4px rgb(28, 28, 28);
  background-color: rgb(51, 51, 51);
}

.show-desc {
  padding: 5px 20px;
  min-height: 100px;
}

.show-info img {
  width: 100%;
  /* object-fit: cover; */
  /* border:1px solid black; */
}

.show-network {
}

/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type=radio] {
  display:none; 
  margin:10px;
}

/*
Change the look'n'feel of labels (which are adjacent to radiobuttons).
Add some margin, padding to label
*/
input[type=radio] + label {
  display:inline-block;
  margin:-2px;
  padding: 4px 12px;
  background-color: #e7e7e7;
  border-color: #ddd;
}
/*
Change background color for label next to checked radio button
to make it look like highlighted button
*/
input[type=radio]:checked + label { 
 background-image: none;
  background-color:#d0d0d0;
}